{% extends 'base.html.twig' %}


{% block includes %}

    <script src="{{ asset('login.js') }}"></script>

{% endblock %}


{% block body %}

    <form class="form-signin" method="post" action="{{ url('login') }}">
        <h1 class="h3 mb-4 logo-brand" href="{{ url('homepage') }}">
            Dailidės darbai
        </h1>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                <div class="container">
                    <div class="alert-icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </div>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Uždaryti">
    			            <span aria-hidden="true">
				                <i class="fas fa-times"></i>
			                </span>
                    </button>
                </div>
            </div>
        {% endif %}

        <input id="account_username" name="_username" type="email" class="form-control" required="required" value="{{ last_username }}" placeholder="El. paštas">
        <input id="account_password" name="_password" type="password" placeholder="Slaptažodis" required="required" class="form-control" />

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Prisijungti"/>

        <p class="mt-5 mb-3 text-muted"> &copy; {{ "now"|date('Y') }} Dailidės darbai. Visos teisės saugomos</p>
    </form>

{% endblock %}
