{% extends 'content.html.twig' %}


{% block page %}

    <main id="main">
        <section class="banner-area relative" id="home">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12">
                        <h1 class="text-white">
                            Susisiekite su mumis
                        </h1>
                        <p class="text-white link-nav">
                            Atsiųskite nuotraukas ir padarysime tai ko norite!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-3 col-md-4">

                        <div class="info">
                            <div>
                                <i class="fa fa-envelope"></i>
                                <p>{{ getSetting('email') }}</p>
                            </div>

                            <div>
                                <i class="fa fa-phone"></i>
                                <p>{{ getSetting('phone-number') }}</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-5 col-md-8">
                        <div class="form">
                            <div id="sendmessage">Jūsų žinutė buvo sėkmingai išsiųsta!</div>
                            <div id="errormessage"></div>

                            {{ form_start(form) }}

                            <div class="form-group">
                                {{ form_row(form.name) }}
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                {{ form_row(form.email) }}
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                {{ form_row(form.message) }}
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                {{ form_row(form.file) }}
                                <div class="validation"></div>
                            </div>

                            <div class="text-center"><button type="submit">Siųsti žinutę</button></div>

                            {{ form_end(form) }}

                            <div id="errormessage"></div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #contact -->
    </main>

{% endblock %}