{% extends 'content.html.twig' %}

{% block page %}

    <main id="main">
        <section class="banner-area relative">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12">
                        <h1 class="text-white">
                            Idėjos ir Atlikti darbai
                        </h1>
                        <p class="text-white link-nav">
                            Išsirinkite tai, kas džiugintų jus grįžus namo!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="ideas">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul id="ideas-filters">
                            <li data-filter="
                                {% for idea in ideas %}.filter-{{ idea.id }}{% if not loop.last %},{% endif %}
                                {% endfor %}" class="filter-active">Visi</li>

                            {% for idea in ideas %}
                                <li data-filter=".filter-{{ idea.id }}">{{ idea.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="row" id="ideas-wrapper">

                    {% for idea in ideas %}

                        {% for image in idea.images %}

                            <div class="col-lg-3 col-md-6 ideas-item filter-{{ image.idea.id }}">
                                <a id="image-{{ image.id }}" href="{{ image.path }}">
                                    <img src="{{ image.path }}" width="100%" height="100%">
                                </a>
                            </div>

                        {% endfor %}

                    {% endfor %}

                </div>

            </div>
        </section>
    </main>

    <link rel="stylesheet" href="{{ asset('plugins/magnific-popup/magnific-popup.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ asset('plugins/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <script>
        $('#ideas-wrapper').magnificPopup({
            delegate: 'div a',
            type: 'image',
            gallery:{enabled:true}
        });
    </script>

{% endblock %}