{% extends "emails/layout.html.twig" %}


{% block text %}
    <h4>Jūsų paskyra buvo sėkmingai sukurta!</h4>
    <h4><b>Prisijungimo vardas: </b>{{ name }}</h4>
    <h4><b>Slaptažodis: </b>{{ plainPassword }}</h4>
    <p>Dėmesio! Rekomenduojame pasikeisti paskyros slaptažodį.</p>
{% endblock %}


{% block buttons %}
    <a href="{{ url('dashboard-profile') }}" style="font-size:22px;font-family:Open Sans,Lucida,Lucida Sans,Lucida Grande,Arial,sans-serif!important;font-weight:normal;color:#ffffff;text-decoration:none;background-color:#55534f;border-top:15px solid #55534f;border-bottom:15px solid #55534f;border-left:25px solid #55534f;border-right:25px solid #55534f;border-radius:3px;display:inline-block" target="_blank">
        Keisti slaptažodį
    </a>
{% endblock %}