<div style="margin:0;padding:0">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td bgcolor="#ebeae8" align="center" style="padding:30px 10px 10px 10px">
                <table border="0" cellpadding="0" cellspacing="0" width="500">
                    <tbody>
                    <tr>
                        <td bgcolor="#FAF9F7">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100%!important">
                                <tbody>
                                <tr>
                                    <td align="center">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100%!important">
                                            <tbody>
                                            <tr>
                                                <td style="padding:40px 10px 25px 10px" align="center">
                                                    <a href="{{ url('homepage') }}" target="_blank">
                                                        <img src="http://dailidesdarbai.lt/assets/images/logo.png">
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td align="center" style="padding:0 10px 10px 10px;font-size:15px;line-height:22px;font-family:Open Sans,Lucida,Lucida Sans,Lucida Grande,Arial,sans-serif!important;color:#918879">
                                                    {% block text %}
                                                    {% endblock %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding:0 10px 0 10px">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td align="center" style="padding:5px 0 35px 0">
                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                {% block buttons %}
                                                                {% endblock %}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td bgcolor="#EBEAE8" align="center" style="padding:10px 15px 20px 15px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td bgcolor="#EBEAE8" align="center">
                            <table width="500" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                <tr>
                                    <td align="center" style="font-size:14px;line-height:16px;font-family:Open Sans,Lucida,Lucida Sans,Lucida Grande,Arial,sans-serif!important;color:#afa194">
                                                            <span style="color:#cdc3b4;font-size:12px">
                                                                © 2018 Dailidės darbai. Visos teisės saugomos
                                                            </span>
                                        <br><br>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>