{% set metaDescription = getSetting('meta-description') %}
{% set title = getSetting('title') %}

<!DOCTYPE html>

<html lang="lt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta content="{{ getSetting('meta-keywords') }}" name="keywords">
    <meta content="{{ metaDescription }}" name="description">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url('homepage') }}">
    <meta property="og:description" content="{{ metaDescription }}">

    <title>{{ title }}</title>

    <link rel="icon" href="{{ asset('assets/images/apple-icon-precomposed.png') }}" />
    <link rel="shortcut icon" href="{{ asset('assets/images/favicon.png') }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/images/apple-icon-precomposed.png') }}" />

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#edeff5",
                        "text": "#838391"
                    },
                    "button": {
                        "background": "#4b81e8"
                    }
                },
                "position": "bottom-right",
                "content": {
                    "message": "Šis puslapis naudoja slapukus siekdamas užtikrinti geriausią vartotojo kokybę. Tęsdami naršymą sutinkate su šia slapukų politika.",
                    "dismiss": "Supratau!",
                    "link": "Privatumo Politika"
                }
            })});
    </script>

    {% block includes %}

        <script src="{{ asset('frontend.js') }}"></script>

    {% endblock %}

</head>

<body>

{% block body %}{% endblock %}

{# Loader
        <div id="loader" class="show fullscreen">
            <svg class="circular" width="48px" height="48px">
                <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
                <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#1d82ff"/>
            </svg>
        </div>#}

<script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>

</body>
</html>
