{% extends 'base.html.twig' %}

{% block body %}

	{% include "navbar.html.twig" %}

		{% block page %}
            <section id="intro">
                <div class="intro-container">
                    <h1>Įgyvendinkite svajones su mumis!</h1>
                    <h2>Esame jums, kad džiugintume savo darbais ir paslaugomis.</h2>
                    <a href="#info" class="btn-more-info">Daugiau informacijos</a>
                </div>
            </section>

            <main id="main">
                <section id="info">
                    <div class="container">
                        <div class="section-header">
                            <h3 class="section-title">Kaip vyksta užsakymas?</h3>
                            <p class="section-description"></p>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="box">
                                    <div class="icon"></div>
                                    <h4 class="title">Planavimas</h4>
                                    <p class="description">Suprojektuojame produktą pagal jūsų pageidavimą (medienos rūšis, dydis, tipas ir t.t.). Idėjų galite rasti čia arba atsiųskite savo brėžinį/produkto nuotrauką.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="box">
                                    <div class="icon"></div>
                                    <h4 class="title">Produkto kūrimas</h4>
                                    <p class="description">Sumokate avansą ir kimbame į darbus! Produkto kūrimo laikas priklauso nuo jo tipo.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="box">
                                    <div class="icon"></div>
                                    <h4 class="title">Apmokėjimas</h4>
                                    <p class="description">Galiausiai sumokate už produktą. Galimas sumontavimas/atvežimas už papildomą kainą.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% if partners is not empty %}
                    <section id="partners">
                        <div class="section-header">
                            <h3 class="section-title">Partneriai</h3>
                        </div>
                        <div class="container">
                            <div class="row align-items-center list">
                                {% for partner in partners %}
                                    <div class="col">
                                        <a target="_blank" href="{% if partner.link is null %}#{% else %}{{ partner.link }}{% endif %}">
                                            <img class="img-fluid" src="{{ partner.path }}" alt="">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                {% endif %}
			</main>
		{% endblock %}

    {% include "footer.html.twig" %}

{% endblock %}