<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a class="link" href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a class="link" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="copyright">&copy; {{ "now"|date('Y') }} Dailidės darbai. Visos teisės saugomos</p>
            </div>
        </div>
    </div>
</footer>