<header id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <h1>
                <a href="{{ url('homepage') }}">
                    Dailidės darbai
                </a>
            </h1>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="{{ "homepage" | routeActive }}">
                    <a href="{{ url('homepage') }}">Pradžia</a>
                </li>
                <li class="{{ "ideas" | routeActive }}">
                    <a href="{{ url('ideas') }}">Idėjos</a>
                </li>
                <li class="{{ "contacts" | routeActive }}">
                    <a href="{{ url('contacts') }}">Kontaktai</a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="{{ "dashboard" | routeActive }}">
                        <a href="{{ url('dashboard') }}">Valdymo panelė</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
