{% extends 'dashboard/layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block page %}

    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Kategorijos redagavimas</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <div class="content">

                    {{ form_start(form) }}

                    {{ form_row(form.title) }}


                    <br>
                    <input type="submit" class="btn btn-success btn-fill" value="Redaguoti" />
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>


{% endblock %}