{% extends 'dashboard/layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block page %}

    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Idėjų ir atliktų darbų sąrašas</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <div class="content">

                    {% if ideas is empty %}

                        <h4 class="title">Nieko nėra!</h4><br>

                    {% else %}

                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Kategorijos pavadinimas</th>
                                <th>Veiksmai</th>
                            </thead>
                            <tbody>

                                {% for idea in ideas %}

                                    <tr>
                                        <td>{{ idea.title }}</td>
                                        <td>
                                            <a href="{{ url('ideas-images', {id: idea.id}) }}" class="btn btn-info btn-fill">Paveikslėliai</a>
                                            <a href="{{ url('dashboard-ideas-edit', {id: idea.id}) }}" class="btn btn-warning btn-fill">Redaguoti</a>
                                            <a href="{{ url('dashboard-ideas-remove', {id: idea.id}) }}" class="btn btn-danger btn-fill">Ištrinti</a>
                                        </td>
                                    </tr>

                                {% endfor %}

                            </tbody>
                        </table>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Kurti naują kategoriją</h4>
            </div>
            <div class="content">
                <div class="content">

                    {{ form_start(form) }}

                    {{ form_row(form.title) }}

                    <input type="submit" class="btn btn-success btn-fill" value="Sukurti" />
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}