{% extends 'dashboard/layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block page %}

    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Pridėti paveikslėlį</h4>
            </div>
            <div class="content">
                <div class="content">

                    {{ form_start(form) }}

                    {{ form_row(form.file) }}

                    <input type="submit" class="btn btn-success btn-fill" value="Įkelti" />
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Kategorijos <b>{{ idea.title }}</b> paveikslėliai</h4>
            </div>
            <div class="content all-icons">
                <div class="row">

                    {% if images is empty %}

                        <h4 style="margin-left: 20px" class="title">Nieko nėra!</h4><br>

                    {% else %}

                        {% for image in images %}

                            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <div class="font-icon-detail">
                                    <img src="{{ image.path }}" width="100%" height="100%" />
                                    <a style="margin-top: 10px" href="{{ url('ideas-images-remove', {image_id: image.id, idea_id: idea.id}) }}" class="btn btn-danger btn-fill">Ištrinti</a>
                                </div>
                            </div>

                        {% endfor %}

                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}