{% extends 'dashboard/layout.html.twig' %}

{% block page %}

    <div class="col-md-7">
        <div class="card">
            <div class="header">
                <h4 class="title">SEO nustatymai</h4>
            </div>
            <div class="content">
                <div class="content">

                    <form method="post">
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Svetainės pavadinimas</label>
                                    <input name="title" type="text" class="form-control" placeholder="Pavadinimas" value="{{ getSetting('title') }}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Raktažodžiai (atskirti kableliu)</label>
                                    <input name="keywords" type="text" class="form-control" placeholder="Raktažodžiai..." value="{{ getSetting('meta-keywords') }}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Aprašymas (50 - 300 simbolių)</label>
                                    <textarea rows="4" cols="80"
                                              name="description"
                                              class="form-control"
                                              placeholder="Aprašymas..."
                                              style="margin-top: 0; margin-bottom: 0; height: 100px;"
                                    >{{ getSetting('meta-description') }}</textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info btn-fill pull-right">Išsaugoti pakeitimus</button>
                        <div class="clearfix"></div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Kontaktai</h4>
            </div>
            <div class="content">
                <div class="content">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Telefono numeris</label>
                                    <input name="phone-number" type="text" class="form-control" placeholder="Telefono numeris" value="{{ getSetting('phone-number') }}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>El. paštas</label>
                                    <input name="email" type="text" class="form-control" placeholder="El. paštas" value="{{ getSetting('email') }}">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info btn-fill pull-right">Išsaugoti pakeitimus</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}