{% extends 'base.html.twig' %}


{% block includes %}

    <script src="{{ asset('dashboard.js') }}" type="text/javascript"></script>

{% endblock %}


{% block body %}

    <div class="wrapper">
        <div class="sidebar" data-color="blue">


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="{{ url('homepage') }}" class="simple-text">
                        Dailidės darbai
                    </a>
                </div>

                <ul class="nav">
                    <li class="{{ "dashboard" | routeActive }}">
                        <a href="{{ url('dashboard') }}">
                            <i class="fas fa-cog"></i>
                            <p>Nustatymai</p>
                        </a>
                    </li>
                    <li class="{{ "dashboard-ideas" | routeActive }}">
                        <a href="{{ url('dashboard-ideas') }}">
                            <i class="far fa-lightbulb"></i>
                            <p>Idėjos</p>
                        </a>
                    </li>
                    <li class="{{ "dashboard-partners" | routeActive }}">
                        <a href="{{ url('dashboard-partners') }}">
                            <i class="far fa-handshake"></i>
                            <p>Partneriai</p>
                        </a>
                    </li>
                    <li class="{{ "dashboard-profile" | routeActive }}">
                        <a href="{{ url('dashboard-profile') }}">
                            <i class="fas fa-user-circle"></i>
                            <p>Profilis</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Administracijos panelė</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                </a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ url('logout') }}">
                                    Atsijungti
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        {% block page %}{% endblock %}
                    </div>
                </div>
            </div>


            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="{{ url('homepage') }}">
                                    Pradžia
                                </a>
                            </li>
                            <li>
                                <a href="{{ url('ideas') }}">
                                    Idėjos
                                </a>
                            </li>
                            <li>
                                <a href="{{ url('contacts') }}">
                                    Kontaktai
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy; {{ "now"|date('Y') }} Dailidės darbai. Visos teisės saugomos
                    </p>
                </div>
            </footer>

        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <!--   Core JS Files   -->
    <script src="assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!--  Charts Plugin -->
    <script src="assets/js/chartist.min.js"></script>
    <script src="assets/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="assets/js/demo.js"></script>
{% endblock %}