{% extends 'dashboard/layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block page %}

    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Keisti slaptažodį</h4>
            </div>
            <div class="content">
                <div class="content">

                    {{ form_start(form) }}

                    {{ form_row(
                        form.plainPassword.first,
                        {
                            'attr': {
                            'placeholder': 'Naujas slaptažodis'
                        }}) }}

                    {{ form_row(
                        form.plainPassword.second,
                        {
                            'attr': {
                            'placeholder': 'Pakartokite slaptažodį'
                        }}) }}

                    <br>
                    <input type="submit" class="btn btn-success btn-fill" value="Keisti slaptažodį" />
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>


{% endblock %}