#contact {
  background: #f2f4f9;
  padding: 80px 0 40px 0;

  .info {
    color: #333333;

    i {
      font-size: 32px;
      float: left;
    }

    p {
      padding: 0 0 10px 50px;
      margin-bottom: 20px;
      line-height: 22px;
      font-size: 14px;
    }

    .email {
      p {
        padding-top: 5px;
      }
    }
  }

  .form {

    #sendmessage {
      color: #2dc997;
      border: 1px solid #2dc997;
      display: none;
      text-align: center;
      padding: 15px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    #errormessage {
      color: red;
      display: none;
      border: 1px solid red;
      text-align: center;
      padding: 15px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    #sendmessage.show, #errormessage.show, .show {
      display: block;
    }
    .validation {
      color: red;
      display: none;
      margin: 0 0 20px;
      font-weight: 400;
      font-size: 13px;
    }

    input, textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
    }

    button[type="submit"] {
      background: #333;
      border: 0;
      padding: 10px 24px;
      color: #fff;
      transition: 0.4s;
    }
  }
}