#ideas {
  background: #f2f4f9;
  padding-top: 80px;

  #ideas-wrapper {
    padding-right: 15px;
  }

  #ideas-filters {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;

    .filter-active {
      background: #1d82ff;
      color: #fff;
    }

    li {
      cursor: pointer;
      margin: 0 10px;
      display: inline-block;
      padding: 10px 22px;
      font-size: 12px;
      line-height: 20px;
      color: #666666;
      border-radius: 4px;
      text-transform: uppercase;
      background: #f2f4f9;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #1d82ff;
        color: #fff;
      }
    }
  }

  .ideas-item {
    position: relative;
    height: 200px;
    overflow: hidden !important;
    margin-bottom: 15px;
    transition: all 350ms ease;
    transform: scale(1);

    a {
      display: block;
      margin-right: 15px;
    }

    img {
      position: relative;
      top: 0;
      transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

      &:hover {
        top: -30px;
      }
    }
  }
}