#info {
  background: #f2f4f9;
  background-size: cover;
  padding: 80px 0 60px 0;
  margin-top: 50px;

  .box {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 200px;
    position: relative;
    background: #fafafa;

    .icon {
      position: absolute;
      top: -36px;
      left: calc(50% - 36px);
      transition: 0.2s;
      border-radius: 50%;
      border: 6px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 72px;
      height: 72px;
      background: #2dc997;

      a {
        display: inline-block;
      }

      i {
        color: #fff;
        font-size: 24px;
      }
    }

    .title {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }

    .title a {
      color: #111;
    }

    .description {
      font-size: 14px;
      line-height: 24px;
    }
  }
}