#intro {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;

  &:before {
    content: "";
    background: url(../../images/bg.jpg);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -100px;
    left: -50px;
    height: 200px;
    width: 130%;
    background-color: #f2f4f9;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    z-index: 10;
  }

  .intro-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 996;
  }

  h1 {
    margin: 30px 0 10px;
    font-size: 62px;
    font-weight: 300;
    color: #fff;
  }

  h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
  }

  .btn-more-info {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    background-color: #1d82ff;
    border-color: #1d82ff;
    color: #fff;

    &:hover {
      background: #6593F5;
    }
  }

}

@media (min-width: 1024px) {
  #intro {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #intro {
    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
}

