#partners {
  background: #f7f7f7;
  padding: 80px 0 60px 0;

  .section-header {
    h3 {
      margin-bottom: 40px;

      &:after, &:before {
        width: 170px;
        height: 1px;
        display: inline-block;
        vertical-align: middle;
        content: "";
        background: #000;
        margin: 0 1%;
      }
    }
  }
  .list {
    .col {
      img {
        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */

        &:hover{
          -webkit-filter: grayscale(0);
          filter: none;
        }
      }
    }
  }
}

@media screen and (max-width: 580px){
  #partners {
    .section-header {
      h3 {
        &:after, &:before {
          display: block;
          margin: auto;
          width: 250px;
        }
      }
    }
  }
}