#footer {
  background-color: #f2f4f9 !important;
  padding-top: 4em;

  .copyright {
    line-height: 1.8;
    color: #868e96;
    font-size: 15px!important;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
  }

  .link {
    color: #1d82ff;
    text-decoration: none;
    padding: .5rem!important;
  }
}
