#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;

  #logo {
    float: left;

    h1 {
      font-size: 36px;
      margin: 0;
      padding: 6px 0;
      line-height: 0.5;
      font-family: 'Iceberg', cursive;

      a {
        &:hover {
          color: #fff;
        }
      }
    }

    img {
      padding: 0;
      margin: 0;
    }
  }
}


@media (max-width: 768px) {
  #header {
    #logo {

      h1 {
        font-size: 26px;
      }

      img {
        max-height: 40px;
      }
    }
  }
}

#header.header-fixed {
  background: rgba(52, 59, 64, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}
