@font-face {
  font-family: Iceberg;
  src: url("../../fonts/Iceberg-Regular.ttf");
}

body {
  background: #f2f4f9;
  color: #666666;
  font-family: "Raleway", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

::selection {
  color: #fff;
  background: #29282b;
}

a {
  color: #fff;

  &:hover, &:active, &:focus {
    color: #1d82ff;
    outline: none;
    text-decoration: none;
  }
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

.section-header {

  .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #999;
  }
}

.banner-area {
  background: url(../../images/bg.jpg) center;
  background-size: cover;
}

.relative {
  position: relative;
  display: block;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.about-content {
  margin-top: 120px;
  padding: 120px 0;
  text-align: center;
  z-index: 996;
}