.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;

  ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;

    ul {
      top: 0;
      left: 100%;
    }

    li {
      min-width: 180px;
    }
  }

  li {
    position: relative;
    white-space: nowrap;

    &:hover, .sfHover {
      & > ul {
        display: block;
      }
    }
  }

  & > li {
    float: left;
  }
}

#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

.nav-menu {
  a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    outline: none;

    &:hover {
      color: #fff !important;
    }
  }

  a:hover:before, li:hover > a:before, .menu-active > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  & > li {
    margin-left: 10px;

    & > a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
  }

  ul {
    margin: 4px 0 0 0;
    border: 1px solid #e7e7e7;

    li {
      background: #fff;

      &:first-child {
        border-top: 0;

      }

      a {
        padding: 10px;
        color: #333;
        transition: 0.3s;
        display: block;
        font-size: 13px;
        text-transform: none;

        &:hover {
          background: #95C8D8;
          color: #fff;
        }
      }
    }

    ul {
      margin: 0;
    }
  }
}

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;

  i {
    color: #fff;
  }
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;

      a {
        color: #fff;
        font-size: 16px;
        overflow: hidden;
        padding: 10px 22px 10px 15px;
        position: relative;
        text-decoration: none;
        width: 100%;
        display: block;
        outline: none;

        &:hover {
          color: #fff;
        }
      }

      li {
        padding-left: 30px;
      }
    }

    .menu-has-children {
      i {
        position: absolute;
        right: 0;
        z-index: 99;
        padding: 15px;
        cursor: pointer;
        color: #fff;

        .fa-chevron-up {
          color: #95C8D8;
        }
      }
    }

    .menu-item-active {
      color: #95C8D8;
    }
  }
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

body.mobile-nav-active {
  overflow: hidden;

  #mobile-nav {
    left: 0;
  }

  #mobile-nav-toggle {
    color: #fff;
  }
}